html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

body > * > * > * > * {
  margin: 4px;
  padding: 4px;
}

body > * > * > * {
  margin: 8px;
  padding: 8px;
}

body > * > * {
  margin: 16px;
  padding: 16px;
}

body > * {
  margin-bottom: 32px;
  padding: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: midnightblue;
  color: white;
}

header ul {
  display: flex;
  list-style-type: none;
}

header ul li a {
  color: white;
  text-decoration: none;
}

.projects, figure {
  background-color: lightgray;
}

.cards {
  display: flex;
}

.project {
  border: 4px solid #ddd;
  border-radius: 5px;
  flex: 1 1 100px;
}

figure {
  font-weight: bold;
  margin: 0px;
}

figure p {
  font-size: 32px;
  font-style: italic;
  text-align: center;
}

figcaption {
  text-align: right;
}
