* {
  padding: 4px;
  margin: 4px;
}

html {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}

header {
  margin: 0px;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: midnightblue;
  color: white;
}

header ul {
  margin: 0px;
  padding:0px;
  display: flex;
  list-style-type: none;
}

header ul li a {
  color: white;
  text-decoration: none;
}

body > section {
  margin-bottom: 32px;
}

.project {
  border: 1px solid #ddd;
  border-radius: 5px;
}
