body {
  font-family: Roboto, sans-serif;
  margin: 32px;
}

header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

header ul {
  margin: 0px;
  padding:0px;
  display: flex;
  gap: 4px;
  list-style-type: none;
}

h1 {
  margin-bottom: 5px;
}

section {
  margin-bottom: 30px;
}

.project {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 5px;
}
